@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

*{ 
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}
/* ---------- colors for style ---------- */
:root { 
    --color-bg-poke: #49d0b0;
    --color-text: #fff;
    --color-number: black;
    --color-box-types: #61e1ca;
    --color-bg-general: #f6f8fc;
}

/*----------- first Mobile -----------*/
body { 
    background-color: var(--color-bg-general);
}
.content { 
    padding: 1rem;
    background-color: var(--color-text);
    height: 100vh;
}
.content h1 { 
    margin: 0;

}
.detail > .types > .type { 
    background-color: var(--color-box-types);
    padding: .25rem .5rem;
    font-size: .825rem;
    margin: .25rem 0;
    border-radius: .625rem;
}

/*------------ Responsivity ------------*/
@media screen and (min-width: 380px) { 
    .pokemons { 
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons { 
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .content { 
        max-width: 992px;
        margin: 1rem auto;
        max-height: auto;
        border-radius: 1rem;
    }
    .pokemons { 
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}